.nav-bar {
  width: 240px;
  height: 770px;
  background-color: black;
  z-index: 1;
  position: fixed;
}

.nav-bar__header {
  font-size: 20px;
  color: white;
  padding: 40px 30px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 180px;
  opacity: 0.4;
  margin-bottom: 25px;
}

.nav-bar__text {
  font-size: 18px;
  color: #ed6f63;
  padding: 30px 25px;
}

.nav-bar__list {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

.nav_bar__list-text {
  padding: 30px 25px;
}

.footer__text {
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.nav_bar__list-text:hover {
  color: white;
}

#about-exhibit_info {
  color: white;
}
