/* component */
@import "css/component/img.css";
@import "css/component/nav-bar.css";
@import "css/component/play-bar.css";
@import "css/component/open-modal.css";

/*screen*/
@import "css/screen/index.css";
@import "css/screen/main-exhibit2.css";
@import "css/screen/main-exhibit3.css";
@import "css/screen/main-exhibit4.css";

/*setting*/
@import "css/component/reset.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
  overflow: hidden;
}

.main-screen {
  width: 100vw;
}
#main-video {
  width: 1200px;
  height: 91vh;
  position: absolute;
  right: 0;
}
