.main-screen__img7 {
  width: 1300px;
  height: 100%;
  display: flex;
  margin-left: 200px;
  position: relative;
  transform: translateY(-100px) translateX(0px);
}

#main-img7 {
  display: flex;
  align-items: center;
  width: 1200px;
  transform: translateY(0px) translateX(120px);
}
